{
  "presets": [
    'react-native-stage-0/decorator-support'
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }],
        "transform-runtime"
      ]
    }
  }
}
